      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4"><%= @post.title %></h1>

        <!-- Author -->
        <p class="lead">
        </p>

        <hr>

        <!-- Date/Time -->
        <p><%= @post.created_at %></p>

        <hr>

        <!-- Post Content -->
        <%= @post.body %>
        <hr>